:root {

    /* CORES */
    --cor-fundo: #f4f7f2;
    --cor-superficie: #ffffff;
    --cor-texto: #242424;
    --cor-texto-suave: #595959;
    --cor-marca: #78350f;
    --cor-sobre-marca: #ffffff;
    --cor-borda: #b7b7b7;

    /* FONTES */
    --fonte-texto: system-ui, sans-serif;
    --fonte-titulo: "Nunito", sans-serif;

    /*
       ESCALA TIPOGRÁFICA
       Multiplicador escolhido: 1.25
    */
    --tamanho-texto: 1rem;
    --tamanho-h3: 1.25rem;
    --tamanho-h2: 1.563rem;
    --tamanho-h1: 1.953rem;

    /* ESPAÇAMENTOS */
    --espaco-1: 0.5rem;
    --espaco-2: 1rem;
    --espaco-3: 1.5rem;
    --espaco-4: 2rem;

    /* CANTOS */
    --raio: 8px;

    /* SOMBRA */
    --sombra: 0 2px 6px rgb(0 0 0 / 0.12);
}